name: Release

on:
  push:
    tags:
      - 'v[0-9]+.*'
jobs:
  crates:
    if: github.repository_owner == 'liberocks'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: publish package to crates
        run: |
          cargo package
          cargo publish --token ${{ secrets.CARGO_TOKEN }}
